<p id="notice"><%= notice %></p>

<p>
  <strong>Logins:</strong>
  <%= @enrolled_class.Logins %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @enrolled_class.Courses %>
</p>

<p>
  <strong>Active:</strong>
  <%= @enrolled_class.active %>
</p>

<%= link_to 'Edit', edit_enrolled_class_path(@enrolled_class) %> |
<%= link_to 'Back', enrolled_classes_path %>
