<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @login_type.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @login_type.description %>
</p>

<%= link_to 'Edit', edit_login_type_path(@login_type) %> |
<%= link_to 'Back', login_types_path %>
