<%= form_for(q_and_a) do |f| %>
  <% if q_and_a.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(q_and_a.errors.count, "error") %> prohibited this q_and_a from being saved:</h2>

      <ul>
      <% q_and_a.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Logins %>
    <%= f.number_field :Logins %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :active_flag %>
    <%= f.check_box :active_flag %>
  </div>

  <div class="field">
    <%= f.label :q_a_text %>
    <%= f.text_area :q_a_text %>
  </div>

  <div class="field">
    <%= f.label :create_time %>
    <%= f.date_select :create_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
